
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>

  <!-- <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="static/bootstrap.css">
  <link rel="stylesheet" href="static/dii-core-public.css" type="text/css">
  <link rel="stylesheet" href="static/jquery-ui-1.css" type="text/css">
  <link rel="stylesheet" href="static/design.css" type="text/css">  
  <link rel="stylesheet" href="static/bootstrap-dii.css" type="text/css">
  <!-- <link rel="stylesheet" href="static/bootstrap/css/bootstrap.css"> -->
  <link rel="stylesheet" href="static/publicPage.css" type="text/css">
  <link rel="stylesheet" href="static/menu.css" type="text/css">
  <link rel="stylesheet" href="static/css.css" type="text/css">
  <link rel="stylesheet" href="static/bootstrap/css/owl.carousel.min.css">
  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="static/bootstrap/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/bootstrap/css/themify-icons.css">
  <link rel="stylesheet" href="static/bootstrap/css/flaticon.css">
  <link rel="stylesheet" href="static/bootstrap/css/animate.css">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">   

</head>

<body id="design-body">


<div id="dii-logged-in-person-id" data-id="" class="dii-hide">
</div>

<div id="design-wrapper">

<div id="design-header-wrapper">  

  <div id="design-header-inner" style=" background: url('static/header.jpg') no-repeat center top / cover; ">    

    <div id="design-logo">

      <a href="/">
        <img src="static/logo1.png" class="img-responsive">
    </a>
</div> 
    <div id="design-social-header">
      <a class="fa fa-facebook" href="/" target="_blank"></a>

      <a class="fa fa-twitter" href="/" target="_blank"> </a>

      <a class="fa fa-instagram" href="/" target="_blank"></a>    

      <a class="fa fa-youtube-play" href="/" target="_blank"></a>    

    </div>    

    <div id="design-contact">      

      <span>
        Contact Us!

      </span>      

      <span>
        +256(0) 751-142-733
      </span> 

    </div>  

  </div>

</div>
<!-- menu -->
<div id="design-nav-wrapper">  

  <div class="container">    

    <div class="row gutter-20">      

      <div class="col-xs-12">            

        <div id="design-container-main-nav" class="dii-container" data-container-size="large">

          <button id="ww-btn-main-nav">
            <i class="fa fa-bars"></i>
          </button>

      <div class="dii-content-list">
          <div class="dii-content dii-content-nav-menu theme-none horizontal
            ww-item-nav ww-item-nav-theme-none ww-item-nav-horizontal
            dii-content-publish-pending-false
            dii-content-publish-time-frame-false" data-id="5c7ea0e1d86e6f6e7fe3eabe" data-type="menu" data-view="full" data-publish-time-start="" data-publish-time-end="">
      <ul>

        <li class="dii-menu-item-link">
          <a class="dii-sub-menu-link" href="/" target="_self">
           Home
         </a>
       </li>

        <li class="dii-menu-item-sub-menu">
          <a class="dii-sub-menu-link" href="#" target="_self">
         Waza Flo
        </a>

        <a class="dii-sub-menu-icon"></a>


      <ul>
        <li class="dii-menu-item-sub-menu">
          <a class="dii-sub-menu-link" href="#" target="_self">
           About
        </a>
      </li>


        <li class="dii-menu-item-sub-menu">
          <a class="dii-sub-menu-link" href="#" target="_self">
           Staff
        </a>
      </li>

      <li class="dii-menu-item-sub-menu">
        <a class="dii-sub-menu-link" href="#" target="_self">
         Testimonials
        </a>
      </li>

      <li class="dii-menu-item-sub-menu">
        <a class="dii-sub-menu-link" href="#" target="_self">
         Employment Opportunities
        </a>
      </li>

      <li class="dii-menu-item-sub-menu">
        <a class="dii-sub-menu-link" href="#" target="_self">
         Front Office
        </a>
      </li>

      <li class="dii-menu-item-sub-menu">
        <a class="dii-sub-menu-link" href="#" target="_self">
         Coaches
        </a>

      </li>

      <li class="dii-menu-item-sub-menu">
        <a class="dii-sub-menu-link" href="#" target="_self">
         Partners
        </a>

      </li>
      </ul>
      </li>

      <li class="dii-menu-item-sub-menu">
        <a class="dii-sub-menu-link" href="#" target="_self">
         Training
        </a>
      <a class="dii-sub-menu-icon"></a>
      <ul>

        <li class="dii-menu-item-sub-menu">
          <a class="dii-sub-menu-link" href="#" target="_self">
           Training Programs by Age
        </a>
      </li>

      <li class="dii-menu-item-sub-menu">
        <a class="dii-sub-menu-link" href="#" target="_self">
         Junior Development Program
        </a>

      </li>

      <li class="dii-menu-item-sub-menu">
        <a class="dii-sub-menu-link" href="#" target="_self">
         Female Program
        </a>

      </li>

      <li class="dii-menu-item-sub-menu">
        <a class="dii-sub-menu-link" href="#" target="_self">
         Summer Training Camps
        </a>
      </li>

      <li class="dii-menu-item-sub-menu">
        <a class="dii-sub-menu-link" href="#" target="_self">
         Goalkeeper Training Camps
        </a>
      </li>

      <li class="dii-menu-item-sub-menu">
        <a class="dii-sub-menu-link" href="#" target="_self">
         Coaches Training
        </a>
      </li>
      </ul>
      </li>


      <li class="dii-menu-item-sub-menu">
        <a class="dii-sub-menu-link" href="#" target="_self">
         Schedules
        </a>
      </li>

      <li class="dii-menu-item-sub-menu">
        <a class="dii-sub-menu-link" href="#" target="_blank">
         Admissions
        </a>
      </li>
     

      <li class="dii-menu-item-link">
        <a class="dii-sub-menu-link" href="#" target="_self">
         News
        </a>
      </li>

      <li class="dii-menu-item-link">
        <a class="dii-sub-menu-link" href="#" target="_self">
         Contacts
        </a>
      </li>

      <li class="dii-menu-item-link" style="margin-left: 20px!important">
        <a class="btn bg-info" href="/donations">
         Donate
        </a>
      </li>

    </ul>

</div>
</div>
</div>     

      </div>
    </div>
  </div>
</div>





<div id="design-main">


{%block main%}

{%endblock%}
 

    <!-- footer start -->
<footer class="footer container-fluid mt-4">
      <div class="footer_top">

        <div class="container">

          <div class="row">

            <div class="col-md-3">

              <div class="footer_widget">

                 <div class="footer_logo text-center">

                  <a href="#">
                  <img src="static/logo1.png" alt="">
                  </a>

            </div>
      <p class="text-center">
         UYFA is s fully registered academy that focuses on developing and nuturing student's skills.  
      </p>
      <div class="socail_links">
    <ul>
        <li>
            <a href="#">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-instagram"></i>
            </a>
        </li>
    </ul>
</div>

</div>
</div>
<div class="col-md-3">
<div class="footer_widget">
<h3 class="footer_title">
        Waza Flo
</h3>
<ul>
    <li><a href="#">About</a></li>
    <li><a href="#">Staff</a></li>
    <li><a href="#">Testimonials</a></li>
    <li><a href="#">Employment Opportunities</a></li>
    <li><a href="#">Front Office</a></li>
    <li><a href="#">Coaches</a></li>
    <li><a href="#">Partners</a></li>
</ul>

</div>
</div>
<div class="col-md-3">
<div class="footer_widget">
<h3 class="footer_title">
        Useful Links
</h3>
<ul>
    <li><a href="#">Training</a></li>
    <li><a href="#">Admissions</a></li>
    <li><a href="#">News</a></li>
    <li><a href="#">Schedules</a></li>
</ul>
</div>
</div>
<div class="col-md-3">
<div class="footer_widget">
<h3 class="footer_title">
    Address
</h3>
<ul>
        <li>200, D-block, Kampala</li>
        <li>+256(0) 751-142-733</li>
        <li>+256(0) 780-543-029</li>
        <li><a href="#"> info@uyfa.com</a></li>
    </ul>
</div>
</div>
</div>
</div>
</div>
<div class="copy-right_text">
<div class="container">
<div class="footer_border"></div>
<div class="row">
<div class="col-xl-12">
<p class="copy_right text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Uganda Youth Football Club</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ footer end  -->





</div>


  <script data-main="/_build/js/neptune/default-public-built.js?_djs=1583175495" src="static/require.js"></script>

  <script type="text/javascript" src="static/dii-core-on-load.js"></script>

  <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="/_build/js/neptune/default-public-built.js?_djs=1583175495" src="static/default-public-built.js"></script>


</body>


</html>
